@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  color: white;
  background: url('/img/bar.jpg') no-repeat center center; // Update the path if needed
  text-transform: uppercase;
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  margin: 0 0 80px 0;
  width: 100%;
  line-height: 200px;

  @media(max-width: 800px) {
    font-size: 30px;
    line-height: 100px;
  }
}

p {
  color: gray;
  max-width: 800px;
  font-size: 20px;
  margin: 30px auto;
  padding: 0 20px;
  line-height: 35px;
}

nav {
  position: fixed;
  display: block;
  background: transparent;
  transition: 0.5s;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;

  a {
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: none;

    &:hover {
      color: black;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .menu-button {
    display: none;
    text-align: right;
    cursor: pointer;
    height: 20px;
    padding: 20px;

    .menu-button-image {
      display: inline-block;
      height: 20px;
      width: 20px;
      background: no-repeat center / 100% url('../img/bars-white-solid.svg');
    }
  }

  @media (max-width: 600px) {
    top: 0;
    height: 60px;
    overflow: hidden;
    padding: 0;

    a, .menu-button {
      display: block;
      padding: 20px;
    }
  }

  &.opaque {
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    a {
      color: black;
    }

    .menu-button-image {
      background: no-repeat center / 100% url('../img/bars-solid.svg');
    }
  }

  &.expand {
    height: 300px;
    background: white;

    a {
      color: black;

      &:not(.menu-button):hover {
        color: white;
        background: black;
      }
    }

    .menu-button-image {
      background: no-repeat center / 100% url('../img/bars-solid.svg');
    }
  }
}

footer {
  background: black;
  color: white;
  font-size: 16px;
  display: block;
  line-height: 200px;
  width: 100%;
  text-align: center;

  @media(max-width: 800px) {
    line-height: 100px;
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  height: 80vh;
  background: url('/img/seattle-skyline-3.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  .logo-container {
    background: none;
    text-align: center;
    width: 100%;
    max-width: 770px;
    padding: 10px 0;
    margin-bottom: auto; /* Push logo to the top */

    .logo {
      display: block;
      width: 300px;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      transform: translateY(-50px);
    }
  }

  .tagline {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-width: 600px;
    margin-top: auto;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 600px) {
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 80px;

    .logo-container .logo {
      width: 250px;
      transform: translateY(-30px);
    }

    .tagline {
      font-size: 16px;
      padding: 10px;
      margin-bottom: 5vh;
    }
  }
}

#about {
  padding: 0 0 80px 0;
  transition: 0.5s;

  .slogan {
    font-style: italic;
    text-align: center;
  }

  .content {
    margin-bottom: 60px;
  }

  .team-pics {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    width: 100%;
    flex-wrap: wrap;

    .teammate {
      text-align: center;
      max-width: 200px;

      img {
        min-width: 100px;
        max-width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      label {
        display: block;
        margin: 20px 0;
        font-size: 20px;
        line-height: 25px;

        .title {
          font-size: 16px;
          color: gray;
          display: block;
        }
      }
    }
  }

  .more {
    display: none;
    margin: auto;
    height: 50px;
  }

  @media (max-width: 800px) {
    .team-pics {
      height: 300px;
      overflow: hidden;
      align-content: baseline;
      transition: 0.5s;

      &.expand {
        height: 1330px;
      }
    }

    .more {
      display: block;
    }
  }
}

#services {
  padding: 0 0 80px 0;

  ul {
    color: gray;
    max-width: 800px;
    font-size: 20px;
    margin: 30px auto;
    padding: 0 20px 0 100px;
    line-height: 35px;
  }

  a {
    color: gray;
  }

  @media (max-width: 800px) {
    ul {
      padding-left: 60px;
    }
  }
}

#testimonials {
  text-align: center;
  padding: 0 0 80px 0;

  .signature {
    text-align: right;
    font-style: italic;
  }

  .review {
    margin: 20px;
    max-width: 400px;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
  }
}

#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 80px 0;

  .contact-method {
    color: gray;
    font-size: 20px;
    line-height: 35px;
    padding: 0 40px;

    a {
      color: gray;
    }

    img {
      height: 25px;
      padding: 10px;
      vertical-align: middle;
      margin: 0 0 5px 0;
    }
  }
}

.spacer {
  display: block;
  height: 80px;
  width: 100%;
}