body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
	height: 100%;
	color: #777;
	line-height: 1.8;
}

p, i, b {
	font-size: 1.2em;
}

#logo {
	display: block;
	padding: 20px 0;
	background: black;
	max-width: calc(100vw - 40px);
	width: 770px;
}

#logo > img {
	width: 300px;
	max-width: calc(100vw - 80px)
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('/img/seattle-skyline.jpg');
	min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("/img/macbook-pro-on-brown-wooden-table.jpg");
	min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
	background-image: url("/img/macbook-pro-on-brown-wooden-table.jpg");
	min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
	}
}

@media (max-device-width: 600px) {
	.name-field {
		margin-bottom: 8px;
	}
}

@media (min-device-width: 601px) {
	.name-field, .email-field {
		margin-bottom: 8px;
	}
}
